```
# Dependencies
.dart_tool/
.build/
packages/

# Logs
*.log
**/logs

# Environment variables
.env
.env.local
.env.*

# iOS
Podfile.lock
ios/Pods/
ios/.symlinks/
ios/build/

# Android
android/local.properties
android/.gradle/
android/build/
android/app/build/

# Flutter
.flutter-plugins
.flutter-plugin-dependencies
.fvm/
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# Build artifacts
/bin/cache/
/bin/internal/shared.dart
/pubspec.lock
```