# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Build artifacts and build tool caches
.dart_tool/
.packages
.pub-cache/
.pub/
build/
node_modules/
dist/

# Flutter specific
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
